.home {
  margin-top: calc(100vh / 10);
  &__title {
    font-size: 4em;
  }
  &__tweet {
    width: 60%;
    margin: auto;
    font-size: 2em;
  }

  &.fade-enter {
    .home__title {
      transform: translateY(-100px);
    }
  }

  &.fade-enter-active {
    .home__title {
      transform: translateY(0);
      transition: all 300ms ease-out;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {
    margin-top: 0;
    &__title {
      font-size: 1.5em;
    }
    &__tweet {
      width: 90%;
      margin: auto;
      font-size: 1em;
    }
  }
}
